.navbar {
  /* background-color: var(--coffee-brown); */
  background-color: #5d2702;  
  padding: 1rem 2rem;
}

.navbar-brand {
  color: var(--light-cream) !important;
  font-weight: 600;
  font-size: 1.5rem;
}

.nav-link {
  color: var(--light-cream) !important;
  font-weight: 500;
  margin-right: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--accent) !important;
}
